* {
  box-sizing: border-box;
}
body{
  border: 40px solid #89CFF0;
  border-bottom: 0px;
}

header {
  background-color: #e291dc;
  padding:40px 20px 40px 96px;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 100px;
  color: white;
  font-weight: normal;
  margin: 0;
}

#delay {
  font-size: 30px;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  transition-property:font-size;
  transition: transform 0.6s cubic-bezier(.97,.25,.79,.67);
}

#delay:hover {
  font-size: 40px;
  font-weight: bold;

}

nav {
  background-color:  #cbc0ff;
  display: inline-flex;
  margin:0;
  padding:10px 20px 10px 55px;
  width:100%;

}
nav a {
  color: white;
  font-size:20px;
  margin-left: 20px;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color:black;
}

li {
  display: inline;
  justify-content: space-between;
}

 main {
  background-color: #d3defd;
  display:flex;
  width:100%;
}

section {
  display: flex;
  align-items: flex-start;
  width: 900px;
  height: 50%;
  background-color: #d3defd;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:0px 25px 25px 0;
}

section img {
  padding-bottom: 20px;
}

article h3 {
  font-size: 20px;
  margin: 0;
}

article {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  border: 20px solid #cbc0ff;
}

article a {
color:#7e97dc
}

article a:visited {
color: #e291dc;
}

 aside {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding:20px;
  height: 600px;
  border: 20px solid #89CFF0;
  margin-top: 20px;
}

aside h3 {
  font-family: 'Modak', cursive;
  font-weight: normal;
  font-size: 50px;
  color: black;
  margin:0;
}

 aside a {
  color:black;
  align-content: center;
}

aside a:visited {
color: #070de6;
}

h3+p:hover {
  background-color: white;
}

h4 {
  display: flex;
  align-content: center;
  margin: 2px;
  background-color: #e291dc;
  justify-content: flex-end;
}

h4:hover {
 background-color: #7e97dc;
}

footer{
  padding: 80px 30px 20px 20px;
  width:100%;
  background-color: #3e4142;
  color:white;
  text-align: center;
}
